

footer{
    background-color: rgba(0, 255, 255, 0.705);
    height: 200px;
    display: flex;
    justify-content: center;
   margin-top: 40px;
    align-items: center;
}
footer p {
    color: black;
}
