
img {
    width: 250px;
    border-radius: 190px;
    margin-top: 55px;
    margin-bottom: 30px;
   
    
}

.chi-sono{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 28px;
   text-align: center;
   margin-bottom: 100px;
   margin-top: 30px;
   
}

.chi-sono a{
    text-decoration: none;
    color: aqua;
    box-shadow:0 0 20px rgba(0, 255, 255, 0.588) ;
    padding: 7px;
    border-radius: 20px;
    margin-top: 20px;
}



 h2{
    font-size: 2.5rem;
    text-align: center;
    padding: 60px;
}

 p{
   color: rgb(148, 148, 148);
   
}


@media only screen and (min-width: 701px)  {
    img {
        
        width: 250px;
        border-radius: 190px;
        margin-right: 30px;
        
        
    }

    .chi-sono{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 0;
        text-align: start;
        margin-bottom: 250px;
        margin-top: 150px;
     }

     .info{
        width: 30%;
     }

    
}